body {
    padding-top: 4rem;
    background-image: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed
}
  
.navbar {
  background: #222 !important;
  padding: 15px 10px;
  padding-left: 20px;
}

#content {
  padding-top: 40px;
}

.padding-top {
  padding-top: 5rem;
  height: 100%;
}