{% extends 'base.html' %} {% block content %}

<div id="content">
    <div class="card text-center container">
        <div class="card-body">
            <h1 style="font-size: 72px">CONFIRMED CASES</h1>
            <hr class="my-4">
            <h2>Select a Country to View Graph:</h2>
            <form action="/confirmed" method="POST" enctype="multipart/form-data">
            <select id="mySelect" name="countries">
                <option value="{{country_list[0]}}" selected>{{country_list[0]}}</option>
                {% for country in country_list[1:] %}
                <option value="{{country}}">{{country}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
            {% if graph %}
            <img src="data:;base64,{{ graph }}"/>
            {% endif %}
            </form>
            <hr class="my-4">
            <p class="card-text" style="font-size: 40px">CONFIRMED CASES IN {{country}}: {{confirmed_num}}</p>
        </div>
    </div>
</div>
{% endblock content %}