{% extends 'base.html' %} {% block content %}

<div id="content">
<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <div class="card text-center container">
        <div class="card-body">
          <h1 style="font-size: 72px">COVID-19</h1>
          <hr class="my-4">
          <h2>What is COVID-19?</h2>
          <div style="padding-left: 90px; padding-right: 90px;">
            <p class="card-text">Coronavirus disease (COVID-19) is an infectious disease caused by a novel virus.
    The disease causes respiratory illness (like the flu) with symptoms such as a dry cough, fever, and in more severe cases, difficulty breathing. You can protect yourself by washing your hands frequently, avoiding touching your face, and avoiding close contact (1 meter or 3 feet) with people who are not well. Coronavirus disease spreads primarily through contact with an infected person when they cough or sneeze. It also spreads when a person touches a surface or object that has the virus on it, then touches their eyes, nose, or mouth.</p>
          </div>
          <hr class="my-4">
          <h2>Purpose of this WebApp?</h2>
          <div style="padding-left: 90px; padding-right: 90px;">
            <p class="card-text">The purpose of this WebApp is to be able to view the total number of confirmed cases and total number of deaths for a given country. It is also to view a graph of how the virus has spread in the country since the beginning of the pandemic.</p>
          <a href="https://github.com/soundreaper/CoronaStats" target="_blank" style="font-size: 24px">View Code on GitHub</a>
          <hr class="my-4">
          <h3>For More Information:</h3>
          <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus" target="_blank">John Hopkins Medicine</a>
          <br>
          <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">World Health Organization</a>
          <hr class="my-4">
          <p class="card-text" style="font-size: 50px">CONFIRMED CASES GLOBALLY: {{confirmed_sum}}</p>
        </div>
      </div>
    </div>
    <div class="carousel-item text-center">
    </div>
    <div class="carousel-item text-center">
    </div>
  </div>
</div>
{% endblock content %}