{% extends 'base.html' %} {% block content %}

<div id="content">
<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <div class="card text-center container">
        <div class="card-body">
          <h1 style="font-size: 72px">COVID-19</h1>
          <hr class="my-4">
          <p class="card-text">TOTAL NUMBER OF CASES GLOBALLY: {{confirmed_sum}}</p>
        </div>
      </div>
    </div>
    <div class="carousel-item text-center">
    </div>
    <div class="carousel-item text-center">
    </div>
  </div>
</div>
{% endblock content %}